body {
    text-align: center;
}

ol {
     list-style: none;
}

h1 {
    text-align: center;
    
}

a {
    text-decoration: none;
}

nav {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 5px 0;
    margin: 1em 0;
    position: sticky;
    top: 0;
    background: white;
}

nav li {
    display: inline-block;
    padding: 0 0.5em;
    font-family: sans-serif;
}
nav a {
    font-size: 1em;
    color: purple;
}
  

nav {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 5px 0;
    margin: 1em 0;
    position: sticky;
    top: 0;
    background: white;
}

